header {
  border-bottom: var(--dashed-border);
  border-image: var(--dashed-border-image);

  .title {
    cursor: pointer;
    font-family: 'Times New Roman';
    font-size: 2rem;
    font-weight: bold;
  }
}

header {
  padding: 1rem 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;

  .title {
    flex-grow: 1;
    display: block;
  }

  /* 溢出处理 */
  overflow: hidden;
}
